# üßπ Churn Prediction ‚Äì Data Preprocessing Notebook
Ïù¥ ÎÖ∏Ìä∏Î∂ÅÏùÄ `shop.db`ÏóêÏÑú Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨ÏôÄ Í≥†Í∞ù Ïù¥ÌÉà ÏòàÏ∏°Ïö© Feature DatasetÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.

In [1]:
import sqlite3
import pandas as pd
import numpy as np
from datetime import datetime
import os
print('Imports ÏôÑÎ£å')

Imports ÏôÑÎ£å

## 1. DB Î°úÎìú

In [2]:
conn = sqlite3.connect('shop')
cursor = conn.cursor()
print('DB Ïó∞Í≤∞ ÏôÑÎ£å')

DB Ïó∞Í≤∞ ÏôÑÎ£å

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[]

## 2. Í≥†Í∞ùÎ≥Ñ Ï£ºÎ¨∏ ÏßëÍ≥Ñ

In [6]:
query = '''
SELECT
    o.customer_id,
    COUNT(o.order_id) AS total_orders,
    SUM(oi.quantity * oi.unit_price) AS total_amount,
    AVG(oi.quantity * oi.unit_price) AS avg_amount,
    MIN(o.order_date) AS first_order,
    MAX(o.order_date) AS last_order
FROM orders o
JOIN order_items oi ON o.order_id = oi.order_id
WHERE o.order_status = 'paid'
GROUP BY o.customer_id;
'''
df = pd.read_sql_query(query, conn)
df

DatabaseError: Execution failed on sql '
SELECT
    o.customer_id,
    COUNT(o.order_id) AS total_orders,
    SUM(oi.quantity * oi.unit_price) AS total_amount,
    AVG(oi.quantity * oi.unit_price) AS avg_amount,
    MIN(o.order_date) AS first_order,
    MAX(o.order_date) AS last_order
FROM orders o
JOIN order_items oi ON o.order_id = oi.order_id
WHERE o.order_status = 'paid'
GROUP BY o.customer_id;
': no such table: orders

## 3. Feature Engineering

In [ ]:
df['first_order'] = pd.to_datetime(df['first_order'])
df['last_order'] = pd.to_datetime(df['last_order'])
df['days_between'] = (df['last_order'] - df['first_order']).dt.days
df['avg_days_per_order'] = df['days_between'] / df['total_orders'].replace(0,1)
df

## 4. Churn Label ÏÉùÏÑ± (1Ìöå Íµ¨Îß§ Í≥†Í∞ù = 1)

In [ ]:
df['churn_label'] = df['total_orders'].apply(lambda x: 1 if x==1 else 0)
df[['customer_id','total_orders','churn_label']].head()

## 5. CSV Ï†ÄÏû•

In [ ]:
os.makedirs('data', exist_ok=True)
df.to_csv('data/churn_dataset.csv', index=False)
print('data/churn_dataset.csv Ï†ÄÏû• ÏôÑÎ£å')