In [2]:
import sqlite3
import pandas as pd

# DB 연결 (경로는 너 프로젝트에 맞게)
conn = sqlite3.connect('shop.db')

query = """
SELECT
    o.order_id,
    o.customer_id,
    o.order_date,
    o.device,
    o.payment_method,
    o.order_status,
    c.gender,
    c.age,
    c.region,
    p.category,
    oi.quantity,
    oi.unit_price,
    (oi.quantity * oi.unit_price) AS revenue
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
JOIN products p ON oi.product_id = p.product_id
WHERE o.order_status = 'paid';
"""

df = pd.read_sql_query(query, conn)
df.head()

DatabaseError: Execution failed on sql '
SELECT
    o.order_id,
    o.customer_id,
    o.order_date,
    o.device,
    o.payment_method,
    o.order_status,
    c.gender,
    c.age,
    c.region,
    p.category,
    oi.quantity,
    oi.unit_price,
    (oi.quantity * oi.unit_price) AS revenue
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
JOIN products p ON oi.product_id = p.product_id
WHERE o.order_status = 'paid';
': no such table: orders

In [ ]:
def make_age_group(age):
    if age < 20:
        return "10대 이하"
    elif age < 30:
        return "20대"
    elif age < 40:
        return "30대"
    elif age < 50:
        return "40대"
    else:
        return "50대 이상"

df['age_group'] = df['age'].apply(make_age_group)

In [ ]:
df.to_csv("dashboard_orders.csv", index=False)
print("dashboard_orders.csv 저장 완료")